#content {
    height: 85vh;
}

footer {
    position: relative;
    bottom: -100px;
    width: 100%;
    color: white;
    background-color: #212529;
    padding: 15px 0;
}

.views {
    text-align: center;
}

.header {
    text-align: center;

}

#footer {
    display:flex;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
}

#user-info {
    display: flex;
    width: 50%;
    margin-top: 70px;
    justify-content: space-around;
}

#loginOrRegisterBtns {
    display:flex;
    justify-content: center;
}

#loginOrRegisterBtns form {
    margin: 0 20px;
}