<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/css/people.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div layout:fragment="content" id="content">
        <table class="table table-dark">
            <thead>
                <tr>
                    <td scope="col">First</td>
                    <td scope="col">Last</td>
                    <td scope="col">Street1</td>
                    <td scope="col">Street2</td>
                    <td scope="col">Birthday</td>
                    <td scope="col">Edit/Delete</td>
                </tr>
            </thead>
            <tbody>
                <tr id = "no-contact-message" th:if="${#lists.isEmpty(people)}">
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr th:each="person: ${people}">
                    <td th:text="${person.firstName}"></td>
                    <td th:text="${person.lastName}"></td>
                    <td th:text="${person.street1}"></td>
                    <td th:text="${person.street2}"></td>
                    <td th:text="${person.birthday}"></td>
                    <td>
                        <div id="forms">
                            <form th:action="@{/delete/{id}(id=${person.id})}" th:method="post" th:object="${person}">
                                <button id="delete-btn" title="delete" style="background:none; color: white;">
                                    <i class="far fa-times-circle"></i>
                                </button>
                            </form>
                            <form th:action="@{/edit/{id}(id=${person.id})}" th:method="get" th:object="${person}">
                                <button id="edit-btn" title="edit" style="background:none; color: white;">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <section id="addContact">
            <h2>Add A Contact</h2>
            <hr>

            <form id="addContactForm" method="post" th:action="@{/}" th:object="${person}">
                <div class="mb-1">
                    <label for="firstName" class="form-label">FirstName</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" required>
                </div>
                <div class="mb-1">
                    <label for="lastName" class="form-label">LastName</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" required>
                </div>
                <div class="mb-1">
                    <label for="street1" class="form-label">Street1</label>
                    <input type="text" class="form-control" id="street1" name="street1" required>
                </div>
                <div class="mb-1">
                    <label for="street2" class="form-label">Street2</label>
                    <input type="text" class="form-control" id="street2" name="street2" required>
                </div>
                <div class="mb-1">
                    <label for="birthday" class="form-label">Birthday</label>
                    <input type="date" class="form-control" id="birthday" name="birthday" required>
                </div>
                <button type="submit" class="btn btn-primary">Add Contact</button>
            </form>
        </section>
    </div>
</body>
</html>